@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
   @foreach (var product in Model.Products)
   {
       <tr>
           <td><a asp-page="/Metafields" asp-route-productId="@product.Id">@product.Title</a></td>
       </tr>       
   }
</table>